<%- include("header") -%>

<div class="contact-heading" >
    <h1 class="h-name"> Asif<span style="color: blueviolet ; font-size:5rem">F</span>aisal </h1>
    <h3>ICT engineer, Badminton player, python developer, web Develper</h3>

</div>


<div class="about-block">
    <p>
    
    
    
        I am an Engineer with Information And Communication Enigineering as major. I Like to play badminton and I've been holding the
        Champion title for inter department tournament for 3 years now at my University. I do also know Java , C, C++, Graphics designing . 
        Expert in python development And web development . Know and further intersted in Computer vison, Machine learning,
        and data science .
    </p>

</div>




<%- include("footer") -%>