<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO_lIST</title>

    <link rel="stylesheet" href="css/styles.css">
<link
    href="https://fonts.googleapis.com/css2?family=Monoton&family=Nova+Mono&family=PT+Mono&family=Raleway&family=Sora:wght@300&display=swap"
    rel="stylesheet">

</head>




<body>